@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  margin: 0;
  padding: 0;
}

.food_menu_heading {
  text-align: center;
  font-size: 4.2em;
  font-family: "Viaoda Libre", cursive;
  font-weight: 500;
  padding: 1% 1%;
  z-index: 10;
  color: #fff;
  padding-top: 5%;
}
.cuisine {
  font-family: "Great Vibes", cursive;
  font-size: 3.2em;
  padding-bottom: 9%;
  font-weight: bold;
}
