@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
.main_bg {
  height: 100vh;
  width: 100vw;
}
.text-container {
  position: relative;
}
.main_txt {
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;

  display: flex;
  padding-left: 2%;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}
.main_txt .rar {
  margin-left: -2%;
}
.main_txt h6 {
  padding-left: 2%;
}
.main_txt .sar {
  padding-left: 2%;
}

p {
  margin: 0;
  padding: 0;
  font-family: mo;
  font-style: italic;
  margin-bottom: -2%;
  font-weight: lighter;
  font-size: 20px;
}

h6 {
  font-family: "Cinzel", serif;
  font-size: 55px;
  margin: 0;
  color: yellow;
}

.text-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 6.2em;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 4em;
  }
  h6 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 350px) {
  .text-container h1 {
    font-size: 3.2em;
  }
  h6 {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 250px) {
  .text-container h1 {
    font-size: 2em;
  }
  h6 {
    font-size: 1.2em;
  }
}
