@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

.order-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
}
.order-view-container >.pan>h1{
  font-size: 4em;
}
.order-view-container>.pan{
  color: white;
  font-family: "Viaoda Libre", cursive;
  min-height: 160px;
  font-weight: bold;
}
.order-view-container>.pan>.trending-creation-text-container{
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-view-container>.pan>.trending-creation-text-container>.line{
  border:1px solid black;
  flex-grow: 1;
  display: inline;
  flex-shrink: 1;
}

.order-view-container>.trending-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
  margin: 0;
  padding: 0;
  align-items: stretch;
  justify-items: center;
  width: 100%;
}
.order-view-container>.trending-container>.trending-food{
  width: 30%;
  flex-grow: 1;
  margin:10px;
}

.order-view-container>.bg-image{
  background-image: url("../assets/29.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
  filter: blur(4px);
}

.order-view-container>.bg-image>img{
  width: 100%;
  height: 100%;
}
@media only screen and (max-width:1000px)
{
  
  .order-view-container>.trending-container>.trending-food{
    width: 100%;
    flex-grow: 1;
    margin:10px;
  }
}
@media only screen and (max-width:500px)
{
  .order-view-container>.pan>.trending-creation-text-container{
    font-size: 0.9em;
  } 
  .order-view-container >.pan>h1{
    font-size: 2.5em;
  }
  
.order-view-container>.trending-container>.trending-food{
  width: 100%;
  flex-grow: 1;
  margin:10px;
}

}
